<div class="px-4 px-md-3" style="padding: 5rem 0">
    <div class="row">
        <div class="col text-center">
            <h1 class="header-text pb-3">Who am I?</h1>
            <ul style="list-style-type: none;">
                <li class="bullet-list-text"><strong>SWE and AI</strong> specialist at IoTsens, Grupo Gimeno</li>
                <li class="bullet-list-text"><strong>AI MSc</strong> at Edinburgh</li>
                <li class="bullet-list-text">26 years old from Spain</li>
            </ul>
        </div>
    </div>
</div>